:root {
    --primary-color: green;
    --primary-border: white;
}


.contianer {
    display: flex;
}




.card {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    display: flex;

}

div img {
    /* width: 300px; */
    /* height: 200px; */
    /* object-fit: cover; */
    /* object-fit: contain; */
    /* object-fit: fill; */
}

.container {
    display: flex;
}

.container div {
    height: 200px;
    width: 200px;
    border: 2px solid var(--primary-border);
}

.box1 {
    background-color: var(--primary-color);
}

.box2 {
    background-color: var(--primary-color);
}

.box3 {
    background-color: var(--primary-color);
}

.box4 {
    background-color: var(--primary-color);
}

.box5 {
    background-color: var(--primary-color);
}

.box6 {
    background-color: var(--primary-color);
}

.box7 {
    background-color: var(--primary-color);
}

.box8 {
    background-color: var(--primary-color);
}

.box9 {
    background-color: var(--primary-color);
}

.box10 {
    background-color: var(--primary-color);
}

.box11 {
    background-color: var(--primary-color);
}





/* flex design starts here  */


.main {

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    /* row-gap: 20px;
    column-gap: 20px; */
    gap: 20px;

}


.innerbox {
    width: 300px;
    background-color: purple;
    border: 1px solid black;
    border-radius: 20px;

}

.innerbox img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.content h3 {
    color: white;
}

.content p {
    color: white;

}