.heading-text {
    color: violet;
    background-color: purple;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

}

.spacing {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

#text {
    background-color: green;
}